/node_modules
/public/hot
/.idea
/.idea/**
/.idea/*
/public/storage
/storage/*.key
/vendor
/storage
/storage/**
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage
